
@{

    //ViewBag["Title"] = "Home Page"
    ViewData["Title"] = "Index1";
    Layout = "~/Views/Shared/_LayoutSalas.cshtml";
}


<header class="encabezado">
    <div class="container">
        <div class="texto-encabezado">
            <div class="intro-encabezado">¡Bienvenido!</div>
            <div class="intro2-encabezado text-uppercase">Ensayá en las mejores salas de tu ciudad</div>
            <button class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#services" onclick="~/">Reservar</button>
        </div>
    </div>
</header>



<div class="container instrucciones">
    <h2 class="text-center  text-uppercase">¿Cómo funciona?</h2>
    <div class="row">

        <div class="col-sm">
            <div class="icono">
                <img src="~/Content/img/drums.svg" alt="">
            </div>
            Elegí tu sala de ensayo, dia y horario
        </div>
        <div class="col-sm">
            <div class="icono">
                <img src="~/Content/img/pay.svg" alt="">
            </div>
            Elegí tu medio de pago
        </div>
        <div class="col-sm">
            <div class="icono">
                <img src="~/Content/img/gesture.svg" alt="">
            </div>
            Listo!
        </div>
    </div>



</div>

