
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutSalas.cshtml";
}


<div class="container" style="height: 20rem;"></div>
    <div class="container">
        <h1 class="h1">Acá va a estar el login</h1>
    </div>
