
@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/_LayoutSalas.cshtml";
    List<Turnos_Sala_de_Ensayo.Models.ServicioAdicionalModel> servicioAdicional = new List<Turnos_Sala_de_Ensayo.Models.ServicioAdicionalModel>();
    servicioAdicional = ViewBag.adicionales;
}

<h2>index</h2>

<section class="fondo">
    <div class="container" style="height: 5rem;"></div>
    <main class=" container row card-deck mx-auto">
    </main>

    <div style="height: 4rem;"></div>
</section>
