
@{
    ViewBag.Title = "Index";
    List<SelectListItem> items = (List<SelectListItem>)ViewBag.items;
    List<SelectListItem> itemsSala = (List<SelectListItem>)ViewBag.itemsSala;
    Layout = "~/Views/Shared/_LayoutSalas.cshtml";

}

<h2>Index</h2>

<div class="container" style="padding-top: 10rem;">


    <form method="post" action="reservar">
        <div>
            @Html.DropDownList("idSala", itemsSala, "Seleccionar sala", new { @class = "form-control" })

        </div>
        <div style="height: 5rem;"></div>
        <div>
            @Html.DropDownList("idTurno", items, "Seleccionar horario", new { @class = "form-control" })


        </div>



    </form>

    <div style="height: 10rem;"></div>

    <div class="container">
        <form method="get" action="CrearTurnos">
            <input type="submit" />
        </form>

    </div>



</div>
