
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutSalas.cshtml";
}

    <section class="fondo">
        <div class="container" style="height: 5rem;"></div>
        <main class=" container row card-deck mx-auto">

            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="~/Content/img/sala_de_ensayo1.jpg" alt="Card image">
                <div class="card-body">
                    <h5 class="card-title">SALA PEQUEÑA</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

                    <a href="~/Horarios2/index?idSala=1" class="btn btn-primary btn-sm">RESERVAR AHORA</a>

                </div>

            </div>


            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="~/Content/img/sala_de_ensayo1.jpg" alt="Card image">
                <div class="card-body">
                    <h5 class="card-title">SALA MEDIANA</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

                    <a href="~/Horarios2/index?idSala=2" class="btn btn-primary btn-sm">RESERVAR AHORA</a>

                </div>

            </div>

            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="~/Content/img/sala_de_ensayo1.jpg" alt="">
                <div class="card-body">
                    <h5 class="card-title">SALA GRANDE</h5>
                    <p class="card-text">
                        Acá va una descripción de la sala.
                    </p>

                    <a href="~/Horarios2/index?idSala=3" class="btn btn-primary btn-sm">RESERVAR AHORA</a>

                </div>

            </div>
        </main>
        <div style="height: 4rem;"></div>
    </section>