
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutSalas.cshtml";
}


<div class="container" style="height: 10rem;"></div>
<main class=" container row card-deck mx-auto">

    <div class="card" style="width: 18rem;">

        <div class="card-body">
            <h5 class="card-title">SALA PEQUEÑA</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            
                <a href="#" class="btn btn-primary btn-sm">Go somewhere</a>
             
            </div>
    </div>
   

    <div class="card" style="width: 18rem;">

        <div class="card-body">
            <h5 class="card-title">SALA MEDIANA</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary btn-sm">Go somewhere</a>
        </div>
    </div>

    <div class="card" style="width: 18rem;">

        <div class="card-body">
            <h5 class="card-title">SALA GRANDE</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary btn-sm">Go somewhere</a>
        </div>
    </div>
</main>
