
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutSalas.cshtml";
}


<h1>@Model.</h1>
<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->
        <!-- Icon -->
        <div class="fadeIn first">
            <img src="~/Content/img/music.svg" id="icon" alt="User Icon" />
        </div>

        <!-- Login Form -->
        <form method="post" action="loguearse">
            <input type="text" id="login" class="fadeIn second" name="nombreUsuario" placeholder="Usuario">
            <input type="password" id="password" class="fadeIn third" name="password" placeholder="Contraseña">
            <input type="submit" class="fadeIn fourth" value="Ingresar">
            <label class="errorLogin">@ViewBag.MensajeErrorLogin</label>
        </form>

        <!-- Remind Passowrd -->
        <div id="formFooter">
            <a class="underlineHover" href="#">¿Te olvidaste la contraseña?</a>
        </div>

    </div>
</div>