
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutSalas.cshtml";
}






    <div class="container horarios">
        <h1>Seleccioná la fecha</h1>
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <img src="~/Content/img/left.svg" />
                </div>
                <div class="col-md-8 fechas">

                    
                    <h4>@ViewBag.Lunes</h4>

                </div>
                <div class="col-md-2">
                    <img src="~/Content/img/arrow.svg" />
                </div>


            </div>
        <h1>Seleccioná el horario</h1>
        <table class="table table-striped">

            <!--Lunes-->
            <tr>
                <th>Horario</th>
                <th>Lunes</th>
                <th>Martes</th>
                <th>Miércoles</th>
                <th>Jueves</th>
                <th>Viernes</th>
                <th>Sábado</th>
                <th>Domingo</th>


            </tr>
            <tr>
                <td>18:00</td>
                <td id="1"><label  >Ocupado</label></td>
                <td id="7"><label >Ocupado</label></td>
                <td id="14"><label id="">Ocupado</label></td>
                <td id="21"><label  >Ocupado</label></td>
                <td id="28"><label  >Ocupado</label></td>
                <td id="35"><label  >Ocupado</label></td>
                <td id="42"><label  >Ocupado</label></td>
            </tr>
            <tr>
                <td>19:00</td>
                <td id="2"><label  >Ocupado</label></td>
                <td id="8"><label  >Ocupado</label></td>
                <td id="15"><label  >Ocupado</label></td>
                <td id="22"><label  >Ocupado</label></td>
                <td id="29"><label  >Ocupado</label></td>
                <td id="36"><label  >Ocupado</label></td>
                <td id="43"><label  >Ocupado</label></td>
            </tr>
            <tr>
                <td>20:00</td>
                <td id="3"><label  >Ocupado</label></td>
                <td id="9"><label  >Ocupado</label></td>
                <td id="16"><label  >Ocupado</label></td>
                <td id="23"><label  >Ocupado</label></td>
                <td id="30"><label  >Ocupado</label></td>
                <td id="37"><label  >Ocupado</label></td>
                <td id="44"><label  >Ocupado</label></td>
            </tr>
            <tr>
                <td>21:00</td>
                <td id="4"><label  >Ocupado</label></td>
                <td id="10"><label  >Ocupado</label></td>
                <td id="17"><label  >Ocupado</label></td>
                <td id="24"><label  >Ocupado</label></td>
                <td id="31"><label  >Ocupado</label></td>
                <td id="38"><label  >Ocupado</label></td>
                <td id="45"><label  >Ocupado</label></td>

            </tr>

            <tr>
                <td>22:00</td>
                <td id="5"><label  >Ocupado</label></td>
                <td id="11"><label  >Ocupado</label></td>
                <td id="18"><label  >Ocupado</label></td>
                <td id="25"><label  >Ocupado</label></td>
                <td id="32"><label  >Ocupado</label></td>
                <td id="39"><label  >Ocupado</label></td>
                <td id="45"><label  >Ocupado</label></td>



            </tr>

            <tr>
                <td>23:00</td>
                <td id="6"><label  >Ocupado</label></td>
                <td id="12"><label  >Ocupado</label></td>
                <td id="19"><label  >Ocupado</label></td>
                <td id="26"><label  >Ocupado</label></td>
                <td id="33"><label  >Ocupado</label></td>
                <td id="40"><label  >Ocupado</label></td>
                <td id="46"><label  >Ocupado</label></td>



            </tr>



        </table>
            <div class="row">
                <button type="button" onclick="obtenerDatos()">Botoncito</button>
            </div>

    </div>

        <script>
            function obtenerDatos() {
                var posicion = document.getElementById("1");
                posicion.innerHTML = "<button>Disponible</button>";
                alert(posicion);

            }


        </script>

 
</div>