
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutSalas.cshtml";
}


<div class="container horarios">
    <h1>Seleccioná el horario</h1>
    <table class="table table-striped">

        <!--Lunes-->
        <tr>
            <th>Lunes</th>
            <th>Martes</th>
            <th>Miércoles</th>
            <th>Jueves</th>
            <th>Viernes</th>
            <th>Sábado</th>
            <th>Domingo</th>


        </tr>
        <tr>

            <td><button class="btn btn-outline-primary btn-block">18:00</button></td>
            <td><button class="btn btn-outline-primary btn-block">18:00</button></td>
            <td><button class="btn btn-outline-primary btn-block">18:00</button></td>
            <td><button class="btn btn-outline-primary btn-block">18:00</button></td>
            <td><button class="btn btn-outline-primary btn-block">18:00</button></td>
            <td><button class="btn btn-outline-primary btn-block">18:00</button></td>
            <td><button class="btn btn-outline-primary btn-block">18:00</button></td>
        </tr>
        <tr>
            <td><button class="btn btn-outline-primary btn-block">19:00</button></td>
            <td><button class="btn btn-outline-primary btn-block">19:00</button></td>
            <td><button class="btn btn-outline-primary btn-block">19:00</button></td>
            <td><button class="btn btn-outline-primary btn-block">19:00</button></td>
            <td><button class="btn btn-outline-primary btn-block">19:00</button></td>
            <td><button class="btn btn-outline-primary btn-block">19:00</button></td>
            <td><button class="btn btn-outline-primary btn-block">19:00</button></td>
        </tr>
        <tr>
            <td><button class="btn btn-outline-primary btn-block">20:00</button></td>
            <td><button class="btn btn-outline-primary btn-block">20:00</button></td>
            <td><button class="btn btn-outline-primary btn-block">20:00</button></td>
            <td><button class="btn btn-outline-primary btn-block">20:00</button></td>
            <td><button class="btn btn-outline-primary btn-block">20:00</button></td>
            <td><button class="btn btn-outline-primary btn-block">20:00</button></td>
            <td><button class="btn btn-outline-primary btn-block">20:00</button></td>
        </tr>
        <tr>
            <td><button class="btn btn-outline-primary btn-block">21:00</button></td>
            <td><button class="btn btn-outline-primary btn-block">21:00</button></td>
            <td><button class="btn btn-outline-primary btn-block">21:00</button></td>
            <td><button class="btn btn-outline-primary btn-block">21:00</button></td>
            <td><button class="btn btn-outline-primary btn-block">21:00</button></td>
            <td><button class="btn btn-outline-primary btn-block">21:00</button></td>
            <td><button class="btn btn-outline-primary btn-block">21:00</button></td>

        </tr>

        <tr>
            <td><button class="btn btn-outline-primary btn-block">22:00</button></td>
            <td><button class="btn btn-outline-primary btn-block">22:00</button></td>
            <td><button class="btn btn-outline-primary btn-block">22:00</button></td>
            <td><button class="btn btn-outline-primary btn-block">22:00</button></td>
            <td><button class="btn btn-outline-primary btn-block">22:00</button></td>
            <td><button class="btn btn-outline-primary btn-block">22:00</button></td>
            <td><button class="btn btn-outline-primary btn-block">22:00</button></td>



        </tr>

        <tr>
            <td><button class="btn btn-outline-primary btn-block">23:00</button></td>
            <td><button class="btn btn-outline-primary btn-block">23:00</button></td>
            <td><button class="btn btn-outline-primary btn-block">23:00</button></td>
            <td><button class="btn btn-outline-primary btn-block">23:00</button></td>
            <td><button class="btn btn-outline-primary btn-block">23:00</button></td>
            <td><button class="btn btn-outline-primary btn-block">23:00</button></td>
            <td><button class="btn btn-outline-primary btn-block">23:00</button></td>



        </tr>



    </table>

</div>